{% extends '@admin/layout.html.twig' %}

{% block title "Create a new category" %}

{% block body %}
    <h1>Create a new category</h1>
    <form action="{{ path(routePrefix ~ '.create') }}" method="post" enctype="multipart/form-data">
        {% include viewPath ~ '/form.html.twig' %}
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
{% endblock %}