{% extends '@admin/layout.html.twig' %}

{% block title item.name %}

{% block body %}
    <h1>Edit the article</h1>
    {{ routePrefix }}
    <form action="{{ path(routePrefix ~ '.edit', {id: item.id}) }}" method="post">
        {% include viewPath ~ '/form.html.twig' %}
        <button class="btn btn-primary">Update</button>
    </form>
{% endblock %}